# Dependencies
node_modules/

# Testing
coverage/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db 

# Others
src/
tests/
.git
.github
.gitignore
.prettierrc
.releaserc.yml
eslint.config.js
