# Dependencies
node_modules/
.pnpm-store/
pnpm-lock.yaml
npm-debug.log*

# Testing
coverage/

# Production
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db 
